@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Itim&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Macondo&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Quicksand:wght@300..700&display=swap");

* {
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: black;
}

.itim-regular {
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
}

.playwrite-gb-s-text {
  font-family: "Playwrite GB S", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.quicksand-text {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.josefin-sans-text {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.cinzel-text {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.macondo-regular {
  font-family: "Macondo", cursive;
  font-weight: 400;
  font-style: normal;
}

/* General styles for the main container */
.App {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
  background-color: #fff;
  padding: 2rem;
}

/* Logo container */
.landing-container-one {
  text-align: center;
  margin-bottom: 20px;
}

/* Logo styling */
.landing-logo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

/* Restaurant status styling */
.restaurant-status {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 8px;
  text-align: center;
  letter-spacing: 0.05rem;
  font-family: "Josefin Sans", sans-serif;
}

.restaurant-status.open {
  color: #ffffff;
  background-color: #28a745; /* Green for open */
}

.restaurant-status.closed {
  color: #ffffff;
  background-color: #dc3545; /* Red for closed */
}

/* Heading styles */
.title-heading {
  font-size: 1.8rem;
  color: #333;
  letter-spacing: 0.05rem;
}

.title-heading-span {
  font-size: 1.2rem;
  color: #333;
  letter-spacing: 0.05rem;
}

/* Address styling */
.address-heading {
  font-size: 1.2rem;
  color: #555;
  margin: 10px 0 5px;
  letter-spacing: 0.05rem;
  margin: 15px 0;
  font-weight: bold;
}

.address-body {
  font-size: 1rem;
  color: #777;
  letter-spacing: 0.05rem;
}

/* Container for Google Reviews */
.custom-google-reviews-widget {
  max-width: 90%;
  width: 85%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Title styling */
.widget-title {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 20px;
  font-weight: bold;
}

/* Elfsight widget styling */
.elfsight-app-43d6f5c4-e329-4dcd-b9d8-c956d5a6ce77 {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title-heading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1.5rem 0;
}

/* General Switch Container */
.shop-status-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

/* Button-based Switch */
.switch-button {
  display: inline-block;
  padding: 10px 30px;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  height: 50px;
  width: 180px;
  font-family: "Josefin Sans", sans-serif;
}

/* Open State Styling */
.switch-button.open {
  background-color: #4caf50;
  box-shadow: 0 4px 8px rgba(76, 175, 80, 0.2);
}

/* Closed State Styling */
.switch-button.closed {
  background-color: #f44336;
  box-shadow: 0 4px 8px rgba(244, 67, 54, 0.2);
}

/* Open State Styling */
.switch-button.cooking {
  background-color: #4caf50;
  box-shadow: 0 4px 8px rgba(76, 175, 80, 0.2);
}

/* Closed State Styling */
.switch-button.not-cooking {
  background-color: #f44336;
  box-shadow: 0 4px 8px rgba(244, 67, 54, 0.2);
}

/* Hover Effect */
.switch-button:hover {
  transform: scale(1.05);
}

.upload-logo-input {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.8rem;
}

.change-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cooking-img {
  height: 250px;
  width: 300px;
  border: 0;
  border-radius: 20px;
  margin-top: 25px;
}

.cooking-text {
  font-size: 20px;
  letter-spacing: 0.1rem;
  margin-top: 10px;
}

.working-hours {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}

.working-hours h2 {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #333;
  font-family: "Cinzel", serif;
}

.hours-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.hours-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #fff;
  padding: 12px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.time-label {
  font-weight: bold;
  color: #333;
}

.time {
  font-style: italic;
  color: #555;
}

/* Call Us Container */
.call-us-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

/* Call Us Button Styling */
.call-us-button {
  padding: 15px 30px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  color: black;
  background-color: #87ceeb; /* Green background */
  border-radius: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.call-us-button:hover {
  background-color: #4682B4; /* Darker green on hover */
  transform: scale(1.05);
}

/* Extra Small Mobile Devices (Portrait) */
/* iPhone SE, older Android phones */
@media only screen and (max-width: 320px) {
  .landing-logo {
    height: 120px;
    width: 120px;
  }

  .title-heading {
    font-size: 1.7rem;
  }

  .title-heading-span {
    font-size: 1rem;
  }

  .address-heading {
    font-size: 1.2rem;
  }

  .address-body {
    font-size: 0.9rem;
  }

  .custom-google-reviews-widget {
    padding: 15px;
  }

  .widget-title {
    font-size: 1.2rem;
  }

  .elfsight-app-43d6f5c4-e329-4dcd-b9d8-c956d5a6ce77 {
    font-size: 0.9rem;
    padding: 8px;
  }

  .restaurant-status {
    font-size: 0.8rem;
  }

  .switch-button {
    font-size: 1rem;
  }

  .call-us-button {
    font-size: 1rem;
    padding: 12px 25px;
  }
}

/* Small Mobile Devices (Portrait) */
/* iPhone 6/7/8, Galaxy S8 */
@media only screen and (min-width: 321px) and (max-width: 375px) {
  .landing-logo {
    height: 120px;
    width: 120px;
  }

  .title-heading {
    font-size: 1.7rem;
  }

  .title-heading-span {
    font-size: 1rem;
  }

  .address-heading {
    font-size: 1.2rem;
  }

  .address-body {
    font-size: 0.9rem;
  }

  .custom-google-reviews-widget {
    padding: 15px;
  }

  .widget-title {
    font-size: 1.2rem;
  }

  .elfsight-app-43d6f5c4-e329-4dcd-b9d8-c956d5a6ce77 {
    font-size: 0.9rem;
    padding: 8px;
  }

  .restaurant-status {
    font-size: 0.8rem;
  }

  .switch-button {
    font-size: 1rem;
  }

  .call-us-button {
    font-size: 1rem;
    padding: 12px 25px;
  }
}

/* Medium Mobile Devices (Portrait) */
/* iPhone 11 Pro, Google Pixel 2 */
@media only screen and (min-width: 376px) and (max-width: 425px) {
  .landing-logo {
    height: 120px;
    width: 120px;
  }

  .title-heading {
    font-size: 1.7rem;
  }

  .title-heading-span {
    font-size: 1rem;
  }

  .address-heading {
    font-size: 1.2rem;
  }

  .address-body {
    font-size: 0.9rem;
  }

  .custom-google-reviews-widget {
    padding: 15px;
  }

  .widget-title {
    font-size: 1.2rem;
  }

  .elfsight-app-43d6f5c4-e329-4dcd-b9d8-c956d5a6ce77 {
    font-size: 0.9rem;
    padding: 8px;
  }

  .restaurant-status {
    font-size: 0.8rem;
  }

  .switch-button {
    font-size: 1rem;
  }

  .call-us-button {
    font-size: 1rem;
    padding: 12px 25px;
  }
}

/* Large Mobile Devices (Portrait) */
/* iPhone 11 Pro Max, Galaxy Note */
@media only screen and (min-width: 426px) and (max-width: 480px) {
  .landing-logo {
    height: 120px;
    width: 120px;
  }

  .title-heading {
    font-size: 1.7rem;
  }

  .title-heading-span {
    font-size: 1rem;
  }

  .address-heading {
    font-size: 1.2rem;
  }

  .address-body {
    font-size: 0.9rem;
  }

  .custom-google-reviews-widget {
    padding: 15px;
  }

  .widget-title {
    font-size: 1.2rem;
  }

  .elfsight-app-43d6f5c4-e329-4dcd-b9d8-c956d5a6ce77 {
    font-size: 0.9rem;
    padding: 8px;
  }

  .restaurant-status {
    font-size: 0.8rem;
  }

  .switch-button {
    font-size: 1rem;
  }

  .call-us-button {
    font-size: 1rem;
    padding: 12px 25px;
  }
}
